<div id="sound-effects-data" style="display: none;" data-allopts="<%= @all_opts.to_json %>" data-userid="<%= @user_id %>"></div>
<div class="content">
	<!-- TODO: Dont' display this on load -->
	<div id="images-scene-container"></div>
	<button id="play_button">Play</button>
	<div id="sound-effects-board" class="sound-effects-board" style="display: none;">
		<div id="volume-slider" class="sound-bar">
			<label for="main-volume">Volume</label>
			<input id="main-volume" type="range" min="0" max="1" step="0.01" value="1.0" />
		</div>
		<% @all_opts.each_pair do |effect, options_in_effect| %>
			<% options_in_effect.each_pair do |option_key, option_info| %>
				<% effect_id = "#{effect}-#{option_key}"%>
				<div id="<%= effect_id %>-container" class="sound-effect sound-bar" style="display: none;">
					<label for="<%= effect_id %>"><%= "#{effect} #{option_key}" %></label>
					<input
						id="<%= effect_id %>"
						type="range"
						min="<%= option_info[:min] %>"
						max="<%= option_info[:max] %>"
						step="<%= option_info[:step] %>"
						value="<%= option_info[:value] %>"
					/>
				</div>
			<% end %>
		<% end %>
	</div>
</div>

<%= javascript_pack_tag 'WanderingRocks/index' %>